<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /substitutions/

    # Pass HTTP authorization header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect trailing slashes if not a folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Exclude the /api path
    #RewriteRule ^api/ - [L,NC]
    RewriteRule ^api/(.*)$ api/public/index.php/$1 [L]

    # Send all other requests to the front controller (index.html)...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]
</IfModule>